@mixin wrapper {
  margin: 0 auto;
}

@mixin ul-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin section-wrapper {
  margin: 0 auto;

  max-width: 1170px;
  width: 95%;
}

@mixin section-wrapper-tablet {
  width: 90%;
}

// h1-h4
@mixin heading {
  margin: 0;
  margin-bottom: 12px;

  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3.2px;
  text-align: center;
  text-transform: capitalize;
}

// p
@mixin paragraph {
  margin-bottom: 20px;

  color: $gray-2;
}

@mixin underline {
  display: block;

  width: 80px;
  height: 4px;
  margin: 0 auto 20px;

  background-color: $cyan-1;
}

@mixin btn {
  display: inline-block;

  padding: 6px 12px;

  font-weight: 700;
  color: $cyan-3;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  background-color: $cyan-1;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    color: $cyan-5;

    background-color: $cyan-6;
  }

  &:active {
    opacity: 0.5;
  }
}
