@mixin wrapper {
  margin: 0 auto;
}

@mixin ul-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin section {
  width: 100%;
  padding: 80px 0;
}

@mixin section-wrapper {
  margin: 0 auto;

  max-width: 1170px;
  width: 95%;
}

@mixin section-wrapper-tablet {
  width: 90%;
}

@mixin heading {
  margin: 0;
  margin-bottom: 12px;

  line-height: 1;
  font-family: "Roboto", sans-serif;
  letter-spacing: $spacing;
  text-align: center;
  text-transform: capitalize;
}

@mixin paragraph {
  margin-bottom: 20px;

  color: $gray-2;
}

@mixin underline {
  display: block;

  width: 80px;
  height: 4px;
  margin: 0 auto 20px;

  background-color: $cyan-1;
}

@mixin btn {
  display: block;

  width: 192px;
  margin: 0 auto;
  padding: 6px 12px;

  font-size: 14px;
  font-weight: 700;
  color: $cyan-3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $spacing;

  background-color: $cyan-1;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $cyan-5;

    background-color: $cyan-6;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin stack {
  display: inline-block;

  margin-right: 8px;
  padding: 4px 8px;

  font-size: 13.6px;
  letter-spacing: 2px;
  color: $gray-4;
  text-transform: uppercase;

  background-color: $gray-5;
  border-radius: $radius;
}

@mixin hover-active {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
