$tablet-width: 1023px; // 1023-768
$mobile-width: 767px; // 767-320

$gray-1: #102a42; // --clr-grey-1
$gray-2: #324d67; // --clr-grey-3
$gray-3: #f1f5f8; // --clr-grey-10:
$gray-4: #617d98; // --clr-grey-5:
$gray-5: #dae2ec; // --clr-grey-9:

$cyan-1: #2caeba; // --clr-primary-5
$cyan-2: #0a6c75; // --clr-primary-2
$cyan-3: #bff8fd; // --clr-primary-9
$cyan-4: #e0fcff; // --clr-primary-10
$cyan-5: #044e53; // --clr-primary-1
$cyan-6: #88ebf2; // --clr-primary-8

$red-1: #bb2525; // --clr-red-dark
