.error {
  display: grid;
  place-items: center;

  width: 100%;
  min-height: calc(100vh - 80px - 144px);
  padding: 10%;

  text-align: center;

  background-color: $cyan-4;
}

.error__heading {
  @include heading;

  margin-bottom: 32px;

  font-size: 64px;
  line-height: 1;
  color: $cyan-5;
  text-transform: uppercase;
}

.error__btn {
  @include btn;

  display: inline-block;

  width: auto;
}
