.hero,
.hero__wrapper {
  position: relative;

  height: 100vh;
  margin-top: -80px;
}

.hero {
  z-index: 1;
  
  padding-top: 80px;
  
  background-color: $cyan-4;

  &::before {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;

    content: "";

    background: white;
  }
}

.hero__wrapper {
  @include wrapper;

  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1170px;
  width: 95%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 50%;
  padding-right: 20px;

  background-color: $cyan-4;
}

.hero__underline {
  @include underline;

  margin-left: 0;
  margin-bottom: 8px;
}

.hero__heading,
.hero__strong {
  @include heading;

  text-align: left;
  line-height: 1;
}

.hero__heading{
  font-size: 64px;
}

.hero__strong {
  display: block;

  font-size: 16px;
  color: $gray-4;
}

.hero__btn {
  @include btn;

  margin: 20px 0;
}

.hero__img {
  max-width: 600px;
  width: 50%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .hero {
    &::before{
      display: none;
    }
  }

  .hero__wrapper {
    justify-content: center;

    width: 90%;
  }

  .hero__info {
    align-items: center;

    max-width: 100%;
    width: 100%;
    padding-right: 0;

  }

  .hero__underline {
    margin-left: auto;
    margin-bottom: 8px;
  }

  .hero__heading,
  .hero__strong {
    text-align: center;
  }

  .hero__strong {
    font-size: 13.6px;
  }

  .hero__img {
    display: none;
  }
}
