.jobs {
  @include section;

  background-color: white;
}

.jobs__wrapper {
  @include section-wrapper;

  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 64px;

  width: 90%;
  margin-bottom: 48px;
}

.jobs__btn-box {
  display: flex;
  flex-direction: column;

  margin-bottom: 64px;
}

.jobs__btn {
  margin: 0 8px 16px;
  padding: 4px 2px;

  font-size: 20px;
  font-family: "Arial", sans-serif;
  line-height: 1;
  letter-spacing: $spacing;
  text-transform: capitalize;
  
  background-color: transparent;
  border-color: transparent;

  &--active,
  &:hover {
    color: $cyan-1;

    box-shadow: -2px 0 $cyan-1;

    cursor: pointer;
  }
}

.jobs__heading,
.jobs__subtitle {
  @include heading;

  text-align: left;
}

.jobs__heading {
  font-size: 28px;
  font-weight: 400;
}

.jobs__subtitle {
  display: inline-block;

  padding: 6px 12px;

  color: $gray-4;
  text-transform: uppercase;

  background-color: $gray-5;
  border-radius: $radius;
}

.jobs__date {
  @include paragraph;

  margin-top: 0;

  letter-spacing: $spacing;
}

.jobs__text-box {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 32px;
  align-items: center;

  margin-bottom: 20px;
}

.jobs__text {
  margin: 0;

  color: $gray-2;
}

.jobs__icon {
  width: 16px;
  height: 16px;

  color: $cyan-1;
}

.jobs__link {
  @include btn;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .jobs__wrapper {
    display: block;

    width: 80%;
  }

  .jobs__btn-box {
    flex-direction: row;
    justify-content: center;
  }

  .jobs__btn {
    margin-bottom: 0;
    padding: 4px 0;

    &--active,
    &:hover {
      box-shadow: 0 2px $cyan-1;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .jobs__btn {
    font-size: 18px;
  }

  .jobs__heading {
    font-size: 22px;
    line-height: 1.25;
  }

  .jobs__subtitle,
  .jobs__date,
  .jobs__text {
    font-size: 14px;
  }
}
